.btn {
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size-base);
  transition: var(--transition-fast);

  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);

  appearance: none;
  border: none;
  color: var(--color-text);
  background: var(--color-primary);
}
.btn:hover:not(:disabled) {
  filter: brightness(150%);
}
.btn:active:not(:disabled) {
  filter: brightness(120%);
}
.btn:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}
