.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  transition: var(--transition-fast);

  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-header);
  padding: 0 var(--spacing-md);

  background-color: var(--color-header);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  
  color: var(--color-primary);
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-fast);

  padding: var(--spacing-sm);
  border-radius: var(--border-radius);

  background: none;
  border: none;
  color: var(--color-text);
}
.menuButton:hover {
  background-color: var(--color-border);
}