.layout {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  animation: load 0.5s ease-in-out;

  width: 100vw;
  
  color: var(--color-text);
  background-color: var(--color-bg);
}

.content {
  flex-grow: 1;
  min-height: 100vh;
  padding: calc(var(--height-header) + 16px) 16px 32px 16px;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
