.usersPage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.controls {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;

  width: 100%;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  border-radius: var(--border-radius);

  background-color: var(--color-bg-2);
  border: var(--border-width) solid var(--color-border);
  box-shadow: var(--box-shadow);
}

.usersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  width: 100%;
  gap: var(--spacing-md);
}

@media (min-width: 768px) {
  .controls {
    grid-template-columns: 2fr 1fr;
  }
}
