.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  color: var(--color-text);
  background-color: var(--color-bg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: load 0.5s ease-in-out;

  width: 100vw;
  min-height: 100vh;
  padding: calc(var(--height-header) + 16px) 16px 16px 16px;
  gap: var(--spacing-md);
}

.title {
  font-size: var(--font-size-title);
  color: var(--color-primary);
}

.subtitle {
  font-size: var(--font-size-subtitle);
  color: var(--color-primary);
}

.error-message {
  text-align: center;
  font-size: var(--font-size-base);
  animation: load 0.2s ease-in-out;

  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius);

  color: var(--color-error);
  border: 1px solid currentColor;
  background-color: color-mix(in srgb, currentColor 50%, transparent 100%);
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
